

.litepaper {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1447px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(10, 8, 23, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.litepaper .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1004px;
  height              : 443px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .rectangle15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 443px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 134px;
  height              : 154px;
  width               : 1208px;
  position            : absolute;
  margin              : 0;
  left                : 127px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 21px;
  width               : 219px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group6 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group6 .group5 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 14px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group6 .group5 .group4 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 11px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group6 .group5 .group4 .rectangle2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 10px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.litepaper .footer .group3 .group6 .group5 .group4 .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 16px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group6 .ynthetix {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 21.2px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.33px;
  line-height         : 20.0px;
}
.litepaper .footer .group3 .swapprmintrdashboa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 463px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.19px;
  line-height         : 36.0px;
}
.litepaper .footer .group3 .anetworkofsynthet {
  background-color    : rgba(255,255,255,0.0);
  top                 : 97px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(111, 110, 152, 1.0);
  text-align          : left;
  letter-spacing      : -0.19px;
  line-height         : 26.0px;
}
.litepaper .footer .group3 .termsofuseprivacy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 119px;
  height              : auto;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 976px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(111, 109, 152, 1.0);
  text-align          : right;
  letter-spacing      : -0.19px;
  line-height         : 26.0px;
}
.litepaper .footer .group3 .howitworksaboutu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 734px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.19px;
  line-height         : 36.0px;
}
.litepaper .footer .group3 .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 24px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 1005px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group12 .logotwitter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group12 .logotwitter .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 19px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group12 .logomedium {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group12 .logomedium .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group12 .discord {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group12 .discord .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 3px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group12 .discord .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group12 .logoreddit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 22px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 169px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .footer .group3 .group12 .logoreddit .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 491px;
  height              : 517px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 517px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .selectyourlanguage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : auto;
  width               : 898px;
  position            : absolute;
  margin              : 0;
  left                : 272px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 56.0px;
  color               : rgba(30, 26, 49, 1.0);
  text-align          : center;
  letter-spacing      : -1.16px;
  line-height         : 56.0px;
}
.litepaper .whitesection .flags {
  background-color    : rgba(255,255,255,0.0);
  top                 : 194px;
  height              : 200px;
  width               : 1042px;
  position            : absolute;
  margin              : 0;
  left                : 199px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .chinaflag {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 196px;
  width               : 392px;
  position            : absolute;
  margin              : 0;
  left                : 650px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .chinaflag .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 196px;
  width               : 392px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 261px;
  width               : 392px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .rectangle {
  background-color    : rgba(222, 41, 16, 1.0);
  top                 : 0px;
  height              : 261px;
  width               : 392px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .slink {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 71px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .slink .s {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .slink1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  -ms-transform       : rotate(23.0362434387deg); /* IE 9 */
  -webkit-transform   : rotate(23.0362434387deg); /* Chrome, Safari, Opera */
  transform           : rotate(23.0362434387deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .slink1 .s {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .slink2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
  -ms-transform       : rotate(45.8698997498deg); /* IE 9 */
  -webkit-transform   : rotate(45.8698997498deg); /* Chrome, Safari, Opera */
  transform           : rotate(45.8698997498deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .slink2 .s {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .slink3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
  -ms-transform       : rotate(69.9453964233deg); /* IE 9 */
  -webkit-transform   : rotate(69.9453964233deg); /* Chrome, Safari, Opera */
  transform           : rotate(69.9453964233deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .slink3 .s {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .slink4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 118px;
  -ms-transform       : rotate(20.6598072052deg); /* IE 9 */
  -webkit-transform   : rotate(20.6598072052deg); /* Chrome, Safari, Opera */
  transform           : rotate(20.6598072052deg);
}
.litepaper .whitesection .flags .chinaflag .chinaflag1 .slink4 .s {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .unionjack {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 200px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .unionjack .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 200px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .unionjack .unionjack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 200px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .unionjack .unionjack1 .path3025 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 200px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .unionjack .unionjack1 .path3016 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 200px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .unionjack .unionjack1 .path3043 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 200px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .unionjack .unionjack1 .path3012 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 200px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .whitesection .flags .unionjack .unionjack1 .path3014 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 200px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .thebestwaytofind {
  background-color    : rgba(255,255,255,0.0);
  top                 : 344px;
  height              : auto;
  width               : 538px;
  position            : absolute;
  margin              : 0;
  left                : 451px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(111, 109, 152, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.litepaper .litepaper1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 221px;
  height              : auto;
  width               : 771px;
  position            : absolute;
  margin              : 0;
  left                : 335px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 86.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -1.79px;
  line-height         : 76.0px;
}
.litepaper .topnav {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : auto;
  width               : 499px;
  position            : absolute;
  margin              : 0;
  left                : 850px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(101, 96, 133, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.litepaper .slogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : 42px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .slogo .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 41px;
  width               : 32px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .slogo .group6 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 31px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .slogo .group6 .group5 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 30px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .slogo .group6 .group5 .group4 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 21px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .slogo .group6 .group5 .group4 .rectangle2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 21px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.litepaper .slogo .group6 .group5 .group4 .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 36px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.litepaper .u4e2du6587 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 895px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 989px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 56.0px;
  color               : rgba(30, 26, 49, 1.0);
  text-align          : center;
  letter-spacing      : -1.16px;
  line-height         : 78.0px;
}
.litepaper .english {
  background-color    : rgba(255,255,255,0.0);
  top                 : 900px;
  height              : auto;
  width               : 178px;
  position            : absolute;
  margin              : 0;
  left                : 313px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 56.0px;
  color               : rgba(30, 26, 49, 1.0);
  text-align          : center;
  letter-spacing      : -1.16px;
  line-height         : 67.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}